<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Notes</title>  
</head>  
<body>  
<form method="POST" action="/first/update/{{note.id}}">  
        {% csrf_token %}  
    <div>  
<br>  
    <div>  
    <h3>Enter Details</h3>  
    </div>  
    <div>  
    <label>Title: </label>  
    <div>  
      <input type="text" name="title" id="title_id" required maxlength="20" value="{{ note.title }}"/>  
    </div>  
  </div>  
  <div>  
    <label>Description: </label>  
    <div>  
      <input type="text" name="description" id="description_id" required maxlength="2000" value="{{ note.description }}"/>  
    </div>  
  </div>    
    <div>  
    <button type="submit">Update</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>