<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Notes</title>  
</head>  
<body>  
<form method="POST" action="/emp">  
        {% csrf_token %}  
    <div>  
<br>  
    <div>  
    <h3>Enter Details</h3>  
    </div>  
    <div>  
    <label>Title: </label>  
    <div>  
      {{ form.title }}  
    </div>  
  </div>  
  <div>  
    <label>Description</label>  
    <div>  
      {{ form.description }}  
    </div>  
  </div>    
    <div>  
    <button type="submit">Submit</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>